<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="PACKAGE_NAME.instrumentationtests"
          android:versionCode="1"
          android:versionName="Development">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19"/>

    <application
        android:icon="@drawable/icon"
        android:allowBackup="true">

        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="PACKAGE_NAME"
                     android:label="Tests for APP_NAME"/>
</manifest>
