package {{package}}.ui.{{screenLowerCase}}

import android.support.test.rule.ActivityTestRule

import {{package}}.MainApplicationDaggerMockRule

import org.junit.Rule
import org.junit.Test

class {{screenUpperCamel}}ActivityEspressoTests {

    @Rule @JvmField val mockitoRule = MainApplicationDaggerMockRule()

    @Rule @JvmField val activityRule = ActivityTestRule<{{screenUpperCamel}}Activity>({{screenUpperCamel}}Activity::class.java, false, false)

    @Test
    fun testLaunchActivity() {
        val activity = activityRule.launchActivity(null)
        //Spoon.screenshot(activity, "launch_activity")
    }

}
