package {{package}}.ui.{{screenLowerCase}};

import android.content.Context;
import android.content.Intent;
import android.databinding.DataBindingUtil;
import android.os.Bundle;

import {{package}}.R;
import {{package}}.app.MainApplication;
import {{package}}.ui.BaseActivity;
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Component.{{screenUpperCamel}}Module;
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Fragment.{{screenUpperCamel}}FragmentHost;
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Presenter.{{screenUpperCamel}}ViewContract;

import javax.inject.Inject;

public class {{screenUpperCamel}}Activity extends BaseActivity implements {{screenUpperCamel}}ViewContract, {{screenUpperCamel}}FragmentHost {
    public static Intent buildIntent(Context context) {
        return new Intent(context, {{screenUpperCamel}}Activity.class);
    }

    private {{screenUpperCamel}}Component component;

    @Inject {{screenUpperCamel}}Presenter presenter;

    private {{screenUpperCamel}}ActivityBinding binding;

    @Override
    public void onCreate(Bundle savedInstanceState) {
        component = ((MainApplication) getApplication()).getComponent()
                .{{screenLowerCamel}}Component(new {{screenUpperCamel}}Module(this));
        component.inject(this);

        presenter.setView(this);
        lifecycleRegistry.addObserver(presenter);
        presenter.restoreState(savedInstanceState);

        super.onCreate(savedInstanceState);

        binding = DataBindingUtil.setContentView(this, R.layout.activity_{{screenUnderscore}});
        binding.setPresenter(presenter);
        binding.executePendingBindings();

        setSupportActionBar(binding.toolbar);
        getSupportActionBar().setTitle("{{screenUpperCamel}}");
    }

    @Override
    protected void onSaveInstanceState(Bundle outState) {
        super.onSaveInstanceState(outState);
        presenter.saveState(outState);
    }

    @Override
    public void inject({{screenUpperCamel}}Fragment fragment) {
        component.inject(fragment);
    }
}
