package {{package}}.ui.{{screenLowerCase}};

import android.support.test.rule.ActivityTestRule;

import {{package}}.MainApplicationDaggerMockRule;

import org.junit.Rule;
import org.junit.Test;

public class {{screenUpperCamel}}ActivityEspressoTests {

    @Rule public MainApplicationDaggerMockRule mockitoRule = new MainApplicationDaggerMockRule();

    @Rule public ActivityTestRule<{{screenUpperCamel}}Activity> activityRule = new ActivityTestRule<>({{screenUpperCamel}}Activity.class, false, false);

    @Test
    public void testLaunchActivity() {
        {{screenUpperCamel}}Activity activity = activityRule.launchActivity(null);
        //Spoon.screenshot(activity, "launch_activity");
    }
}
