import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Component;
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Component.{{screenUpperCamel}}Module;
// GENERATOR - MORE IMPORTS //