package {{package}}.ui.{{screenLowerCase}}

import android.content.Context

import {{package}}.ui.ActivityScope
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Component.{{screenUpperCamel}}Module

import dagger.Module
import dagger.Provides
import dagger.Subcomponent

@ActivityScope
@Subcomponent(modules = arrayOf({{screenUpperCamel}}Module::class))
interface {{screenUpperCamel}}Component {

    @Module
    class {{screenUpperCamel}}Module(private val activity: {{screenUpperCamel}}Activity) {

        @ActivityScope
        @Provides
        fun providePresenter(context: Context): {{screenUpperCamel}}Presenter {
            return {{screenUpperCamel}}Presenter(context)
        }
    }

    fun inject(activity: {{screenUpperCamel}}Activity)
    fun inject(fragment: {{screenUpperCamel}}Fragment)
}
