package {{package}}.ui.{{screenLowerCase}};

import android.content.Context;

import {{package}}.ui.ActivityScope;
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Component.{{screenUpperCamel}}Module;

import dagger.Module;
import dagger.Provides;
import dagger.Subcomponent;

@ActivityScope
@Subcomponent(modules = {{screenUpperCamel}}Module.class)
public interface {{screenUpperCamel}}Component {

    @Module
    class {{screenUpperCamel}}Module {
        private final {{screenUpperCamel}}Activity activity;

        public {{screenUpperCamel}}Module({{screenUpperCamel}}Activity activity) {
            this.activity = activity;
        }

        @ActivityScope
        @Provides
        public {{screenUpperCamel}}Presenter providePresenter(Context context) {
            return new {{screenUpperCamel}}Presenter(context);
        }
    }

    void inject({{screenUpperCamel}}Activity activity);
    void inject({{screenUpperCamel}}Fragment fragment);
}
