<fragment
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        android:name="{{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Fragment"
        android:id="@+id/fragment_{{screenUnderscore}}"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        app:layout_behavior="@string/appbar_scrolling_view_behavior"/>