package {{package}}.ui.{{screenLowerCase}};

import android.content.Context;
import android.databinding.DataBindingUtil;
import android.os.Bundle;
import android.support.annotation.Nullable;
import android.support.v4.app.Fragment;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;

import {{package}}.R;
import {{package}}.ui.BaseFragment;

import javax.inject.Inject;

public class {{screenUpperCamel}}Fragment extends Fragment {
    public interface {{screenUpperCamel}}FragmentHost {
        void inject({{screenUpperCamel}}Fragment fragment);
    }

    @Inject {{screenUpperCamel}}Presenter presenter;
    private {{screenUpperCamel}}FragmentBinding binding;
    private {{screenUpperCamel}}FragmentHost host;

    @Override
    public void onAttach(Context context) {
        super.onAttach(context);
        host = ({{screenUpperCamel}}FragmentHost) context;
        host.inject(this);
    }

    @Override
    public void onDetach() {
        host = null;
        super.onDetach();
    }

    @Override
    public View onCreateView(LayoutInflater inflater, ViewGroup container, Bundle savedInstanceState) {
        binding = DataBindingUtil.inflate(inflater, R.layout.fragment_{{screenUnderscore}}, container, false);
        binding.setPresenter(presenter);

        return binding.getRoot();
    }

    @Override
    public void onDestroyView() {
        binding.unbind();
        super.onDestroyView();
    }
}
