package {{package}}.ui.{{screenLowerCase}}

import android.content.Context
import android.databinding.DataBindingUtil
import android.os.Bundle
import android.view.LayoutInflater
import android.view.View
import android.view.ViewGroup
import com.mycompany.myapp.ui.BaseFragment

import {{package}}.R

import javax.inject.Inject

class {{screenUpperCamel}}Fragment : BaseFragment() {
    interface {{screenUpperCamel}}FragmentHost

    @Inject lateinit var viewModel: {{screenUpperCamel}}ViewModel
    private lateinit var binding: {{screenUpperCamel}}FragmentBinding
    private var host: {{screenUpperCamel}}FragmentHost? = null

    override fun onAttach(context: Context?) {
        super.onAttach(context)
        host = context as {{screenUpperCamel}}FragmentHost
    }

    override fun onDetach() {
        host = null
        super.onDetach()
    }

    override fun onCreateView(inflater: LayoutInflater, container: ViewGroup?, savedInstanceState: Bundle?): View? {
        viewModel = getViewModel({{screenUpperCamel}}ViewModel::class)

        binding = DataBindingUtil.inflate(inflater, R.layout.fragment_{{screenUnderscore}}, container, false)
        binding.vm = viewModel

        return binding.root
    }

    override fun onDestroyView() {
        binding.unbind()
        super.onDestroyView()
    }
}
