package {{package}}.ui.{{screenLowerCase}}

import android.content.Context
import android.databinding.DataBindingUtil
import android.os.Bundle
import android.support.v4.app.Fragment
import android.view.LayoutInflater
import android.view.View
import android.view.ViewGroup

import {{package}}.R

import javax.inject.Inject

class {{screenUpperCamel}}Fragment : Fragment() {
    interface {{screenUpperCamel}}FragmentHost {
        fun inject(fragment: {{screenUpperCamel}}Fragment)
    }

    @Inject lateinit var presenter: {{screenUpperCamel}}Presenter
    private lateinit var binding: {{screenUpperCamel}}FragmentBinding
    private var host: {{screenUpperCamel}}FragmentHost? = null

    override fun onAttach(context: Context?) {
        super.onAttach(context)
        host = context as {{screenUpperCamel}}FragmentHost
        host!!.inject(this)
    }

    override fun onDetach() {
        host = null
        super.onDetach()
    }

    override fun onCreateView(inflater: LayoutInflater, container: ViewGroup?, savedInstanceState: Bundle?): View? {
        binding = DataBindingUtil.inflate(inflater, R.layout.fragment_{{screenUnderscore}}, container, false)
        binding.presenter = presenter

        return binding.root
    }

    override fun onDestroyView() {
        binding.unbind()
        super.onDestroyView()
    }
}
