package {{package}}.ui.{{screenLowerCase}};

import android.content.Context;
import android.os.Bundle;
import android.support.annotation.NonNull;
import android.support.annotation.Nullable;

import {{package}}.BuildConfig;
import {{package}}.R;
import {{package}}.util.RxUtils;

import org.parceler.Parcel;
import org.parceler.ParcelConstructor;
import org.parceler.Parcels;

import java.util.ArrayList;
import java.util.List;

import rx.Observable;
import rx.Subscription;
import rx.android.schedulers.AndroidSchedulers;
import rx.schedulers.Schedulers;
import rx.subscriptions.CompositeSubscription;

public class {{screenUpperCamel}}Presenter {
    private static final String EXTRA_STATE = "{{screenUpperCamel}}PresenterState";

    public interface {{screenUpperCamel}}ViewContract {
        
    }

    @Parcel
    public static class State {

    }

    private final Context context;

    private State state;
    private CompositeSubscription subscriptions;
    private {{screenUpperCamel}}ViewContract view;

    public {{screenUpperCamel}}Presenter(Context context) {
        this.context = context;
    }

    public void setView({{screenUpperCamel}}ViewContract view) {
        this.view = view;
    }

    public void saveState(@NonNull  Bundle bundle) {
        bundle.putParcelable(EXTRA_STATE, Parcels.wrap(state));
    }

    public void restoreState(@Nullable Bundle bundle) {
        if (bundle != null && bundle.containsKey(EXTRA_STATE)) {
            state = Parcels.unwrap(bundle.getParcelable(EXTRA_STATE));
        }
    }

    public void onResume() {
        if (state == null) {
            state = new State();
        }

        subscriptions = RxUtils.getNewCompositeSubIfUnsubscribed(subscriptions);
    }

    public void onPause() {
        RxUtils.unsubscribeIfNotNull(subscriptions);
    }
}
