package {{package}}.ui.{{screenLowerCase}};

import android.content.Context;
import android.databinding.Bindable;
import android.text.TextUtils;

import {{package}}.ui.BasePresenter;
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Presenter.{{screenUpperCamel}}ViewContract;
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Presenter.State;

import org.parceler.Parcel;

public class {{screenUpperCamel}}Presenter extends BasePresenter<{{screenUpperCamel}}ViewContract, State> {
    private static final String STATE_KEY = "{{screenUpperCamel}}PresenterState";  // NON-NLS

    public interface {{screenUpperCamel}}ViewContract {
        
    }

    @Parcel
    public static class State {
        boolean initialized = false;
    }

    private final Context context;

    public {{screenUpperCamel}}Presenter(Context context) {
        super(STATE_KEY, new State());
        this.context = context;
    }

    public void onResume() {
        super.onResume();
        if (!state.initialized) {
            state.initialized = true;
        }
    }
}
