package {{package}}.ui.{{screenLowerCase}};

import junit.framework.Assert;

import org.junit.Test;

@RunWith(RobolectricGradleTestRunner.class)
public class {{screenUpperCamel}}PresenterTests {
    @Test
    public void testTrueIsTrue() {
        Assert.assertTrue(true);
    }
}
