package {{package}}.ui.{{screenLowerCase}}

import android.content.Context
import android.os.Parcelable
import {{package}}.ui.BasePresenter
import {{package}}.ui.{{screenLowerCase}}.{{screenUpperCamel}}Presenter.{{screenUpperCamel}}ViewContract
import kotlinx.android.parcel.Parcelize

class {{screenUpperCamel}}Presenter(private val context: Context)
    : BasePresenter<{{screenUpperCamel}}ViewContract, {{screenUpperCamel}}Presenter.State>(STATE_KEY, State()) {

    interface {{screenUpperCamel}}ViewContract

    @Parcelize
    data class State(
        var initialized: Boolean = false) : Parcelable

    override fun onResume() {
        super.onResume()
        if (!state.initialized) {
            state.initialized = true
        }
    }
    companion object {
        private const val STATE_KEY = "{{screenUpperCamel}}PresenterState"  // NON-NLS
    }
}
