@Binds
    @IntoMap
    @ViewModelKey({{screenUpperCamel}}ViewModel::class)
    abstract fun binds{{screenUpperCamel}}ViewModel({{screenLowerCamel}}ViewModel: {{screenUpperCamel}}ViewModel): ViewModel

    // GENERATOR - MORE VIEW MODELS //