package {{package}}.ui.{{screenLowerCase}}

import android.app.Application
import android.os.Parcelable
import {{package}}.ui.BaseViewModel
import kotlinx.android.parcel.Parcelize
import javax.inject.Inject

class {{screenUpperCamel}}ViewModel @Inject constructor(
        private val app: Application)
    : BaseViewModel<{{screenUpperCamel}}ViewModel.State>(app, STATE_KEY, State()) {

    @Parcelize
    class State() : Parcelable

    override fun setupViewModel() {

    }

    companion object {
        private const val STATE_KEY = "{{screenUpperCamel}}ViewModelState"  // NON-NLS
    }
}
