<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.mycompany.myapp.ui.devsettings.DevSettingsActivity"
            android:label="@string/dev_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:taskAffinity="com.mycompany.myapp.dev_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
