<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.App.Starting">
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_compose_start"
            android:theme="@style/AppTheme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- deep link with URI: atomicrobot://carbon-android -->
            <!-- Test from adb shell using: -->
            <!-- adb shell am start -W -a android.intent.action.VIEW -d "atomicrobot://carbon-android" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="atomicrobot"
                    android:host="carbon-android" />
            </intent-filter>

            <!-- deep link with URI: https://www.atomicrobot.com/carbon-android -->
            <!-- Test from adb shell using: -->
            <!-- adb shell am start -W -a android.intent.action.VIEW -d "https://www.atomicrobot.com/carbon-android" -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data
                    android:host="*.atomicrobot.com"
                    android:pathPrefix="/carbon-android" />
            </intent-filter>

        </activity>
        <!-- GENERATOR - MORE ACTIVITIES -->
        <activity android:name=".CarbonShellActivity"
            android:exported="false"
            android:label="title_activity_carbon_shell"
            android:theme="@style/CarbonShellTheme"/>

        <activity android:name=".DesignLumenActivity"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="title_activity_lumen_design"
            android:theme="@style/LumenTheme"/>

        <activity android:name=".ScannerActivity"
            android:exported="false"
            android:label="title_activity_scanner"
            android:theme="@style/ScannerTheme"/>

        <activity-alias
            android:name=".Launcher"
            android:targetActivity=".StartActivity" />

        <activity-alias
            android:name=".Lumen"
            android:targetActivity=".DesignLumenActivity" />

        <service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_bell_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- (Optional) Set the notification channel id or omit for default -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>

</manifest>