<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed for screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Needed for EspressoTestRule + Rise and Shine -->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- vmSafeMode skips the ART ahead of time compilation which can slow down development cycles -->
    <application android:vmSafeMode="true"/>

</manifest>
